:root {

  --navbar-width: 75px;
  /* --main-box-shadow: 0 0 3px 2px #c6c6c6; */
  --main-box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 4px;
  --main-fs: 16px;
  /* light mode */
  --main-text-color: black;
  --main-color: white;
  --revert-light: #2F2F2F;
  --alt-color: #FF8A00;
  --alt-hover: #d67200;
  --price-color: #01C550;
  --secondary-color: #f4f4f4;
  --icons-color: #B4BCCF;
  --main-text-50: rgba(0, 0, 0, 0.549);
}

/* dark mode */
.dark-mode {
  --main-text-color: rgb(255, 255, 255);
  --main-color: #2e3845;
  --revert-light: white;
  --price-color: #01C550;
  --secondary-color: #515e70;
  --icons-color: #8395ae;
  --main-text-50: rgba(255, 255, 255, 0.549);
  --main-box-shadow: 0 0 2px white !important;
}

body {
  color: var(--main-text-color) !important;
}

/* a{
  color: var(--main-text-color) !important;
} */

.app {
  min-height: 100vh;
  background: var(--main-color);
}

/* my framework */


.btn,
.special-btn {
  padding: 4px 7px !important;
  font-weight: bold !important;
  font-size: var(--main-fs) !important;
}

.special-btn {
  background-color: var(--alt-color) !important;
  color: white !important;
}

.special-btn:hover,
.special-btn.active {
  background-color: var(--alt-hover) !important;
}

.flex-1 {
  flex: 1 !important;
}

.flex-0 {
  flex: 0 !important;
}


.center,
.between,
.start,
.end {
  display: flex !important;
  align-items: center !important;
}

.start {
  justify-content: flex-start !important;
}

.end {
  justify-content: flex-end !important;
}

.center {
  justify-content: center !important;
}

.between {
  justify-content: space-between !important;
}

.align-stretch {
  align-items: stretch !important;
  /* text-decoration: line-through; */
}

.rounded-full {
  border-radius: 50%;
}

.radius-0 {
  border-radius: 0 !important;
}

.rounded-right {
  border-radius: 0 6px 6px 0 !important;
}


.rounded-left {
  border-radius: 6px 0 0 6px !important;
}

.border-left {
  border-left: 1px solid !important;
}

/* normalization */



ul {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

body {
  font-family: 'Cairo', sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row-app {
  margin-right: auto !important;
  width: calc(100% - var(--navbar-width)) !important;
}

::selection {
  background-color: var(--alt-color);
  color: white;
}


/*  navbar */
.navbar-margin {
  margin-right: 50px;
}

.navbar-app {
  position: fixed;
  background-color: var(--main-color);
  padding: 50px 13px 0;
  box-shadow: var(--main-box-shadow);
  height: 100vh;
  top: 0;
  z-index: 1000;
}

.navbar-app .icon {
  color: var(--icons-color) !important;
  position: relative;
  transition: .5s;
  border-radius: 6px;
  width: 39px;
  text-align: center;
  cursor: pointer;
  padding: 2px 0px;
}

.icon.logout::after {
  content: '';
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}

.navbar-app .icon::before {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--alt-color);
  font-size: var(--main-fs);
  background-color: var(--main-color);
  padding: 6px 13px;
  border-radius: 4px;
  font-weight: bold;
}

.navbar-app .icon:hover::before {
  display: block;
}

.navbar-app .icon:hover,
.navbar-app .icon.active {
  color: white !important;
  background-color: var(--alt-color) !important;
}

input,
textarea,
select {
  box-shadow: none !important;
  border: none !important;
  border: 1px solid var(--revert-light) !important;
  font-size: var(--main-fs) !important;
  background-color: var(--main-color) !important;
  color: var(--main-text-color) !important;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--main-text-50) !important;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 7px var(--alt-color) !important;
  border: 1px solid var(--alt-color) !important;
}

/* home page  */
/* Home -> start content*/

.home .content {
  min-height: 100vh;
}

.home .header-app input {
  transition: .3s;
}

.home .header-app input:focus {
  background-color: #ffffff;
}


/* Home => sidebar */
.home .content {
  width: calc(100% - 300px);
  flex: 0 !important;
}

.home .sidebar {
  position: fixed;
  width: 300px;
  left: 0;
  /* flex: 0 1 300px !important; */
  border-right: 1px solid #d0d0d0;
  min-height: 100vh;
}


.icon {
  position: relative;
}

.icon::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  content: '';
}


/* Home => meal */

.meal {
  background-color: var(--main-color);
  flex: 1 300px !important;
}

.home .meal .image {
  overflow: hidden;
  width: 150px;
  height: 150px;
}


.home .meal img {
  object-fit: contain;
}

.meal .add-to-cart {
  background-color: var(--alt-color);
  padding: 2px 5px !important;
  color: white;
}

/* Home => sidebar */
.sidebar {
  background-color: var(--main-color);
}

.sidebar .user-info .avatar {
  background-color: var(--alt-color);
  color: var(--main-color);
  text-align: center;
}

.meal-order-info .increase,
.meal-order-info .decrease {
  background-color: var(--alt-color);
  color: var(--main-color);
  padding: 0px 5px;
  height: 22px;
  line-height: 1;
  border-radius: 6px;
  cursor: pointer;
}

.meal-order-info .meal-name {
  font-size: 18px;
  font-weight: bold;
}

.meal-order-info .details {
  font-size: 14px;
}


.sidebar .icon {
  position: relative;
}

.sidebar .icon::before {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  right: -80px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--alt-color);
  font-size: var(--main-fs);
  background-color: var(--main-color);
  padding: 6px 13px;
  border-radius: 4px;
  font-weight: bold;
}

.sidebar .icon:hover::before {
  display: block;
}


@media (width < 800px) {
  .sidebar {
    display: none;
  }

  .content {
    width: 100% !important;
    flex: 1 !important;
  }
}


/* start order page */
.orders .order-item {
  border-bottom: 1px solid rgb(179, 179, 179);
}


/* start user  */

.left-sidebar {
  height: 100vh;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  transform: translateX(-210px);
  transition: .5s;
  box-shadow: var(--main-box-shadow);
  z-index: 1000;
  overflow: auto;
}

.left-sidebar ul a {
  color: var(--main-text-color);
}

.left-sidebar ul a:hover {
  background-color: var(--alt-color);
  color: white;
}

.reset-transform {
  transform: translateX(0);
}

.gear {
  top: 27px;
  line-height: 0;
  font-size: 25px;
  background: var(--main-color);
  left: 0;
  transform: translateX(10px);
  padding: 7px;
  border-radius: 50%;
  transition: .5s;
  position: fixed;
  color: white;
  z-index: 2000;
  cursor: pointer;
}



.gear::before {
  position: absolute;
  left: 0%;
  top: 0%;
  content: '';
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.gear.active {
  transform: translateX(210px) rotate(200deg);
}


.form {
  background-color: var(--secondary-color);
  box-shadow: var(--main-box-shadow);
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 20px;
}

/* Favorite page */
.meal {
  border: 2px solid var(--secondary-color);
}

/* add hover in size elm in add and update comp  */
.size {
  position: relative;
}

.size::after {
  position: absolute;
  transition: .3s;
  opacity: 0;
  content: 'x';
  background-color: var(--alt-color);
  width: 26px;
  height: 26px;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  border-radius: 6px;
  transform: translate(-50%, -50%);
}

.size:hover::after {
  opacity: 1;
}

/* custom loading */
.loading {
  position: fixed;
  background: #000000a0;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading div {
  width: 35px;
  height: 35px;
  border: 4px solid;
  border-color: var(--alt-color) var(--alt-color) var(--alt-color) transparent;
  border-radius: 50%;
  animation: rotate_spinner .5s infinite both linear;
}

@keyframes rotate_spinner {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);

  }
}


/* start btn group */
.btn-group {
  direction: rtl !important;
}

/* pagination */
.page-link {
  background-color: var(--main-color) !important;
  color: var(--alt-color) !important;
  border-radius: 10px !important;
  border: solid 1px 272727 !important;
}

.page-link:hover {
  background-color: var(--alt-color) !important;
  color: white !important;
  border: solid 1px 272727 !important;
}

.active>.page-link,
.page-link.active {
  border: 1px solid var(--alt-color) !important;
}

.page-link:focus {
  box-shadow: var(--main-box-shadow) !important;
}

/* end pagination */


.spinner-loading {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.602);
  position: absolute;
}

.category-page {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 20px !important;
}

.category-page img {
  width: 150px !important;
  height: 150px !important;
}

.specific-meal {
  min-width: 100% !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  align-items: center !important;
}

.specific-meal .image {
  max-width: 280px !important;
  min-width: 200px !important;
}


/* start review  */
.review {
  background-color: var(--secondary-color);
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;

}

.review .avatar {
  background-color: var(--alt-color);
  color: white;
  padding: 0 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.review .review-info .rating {
  color: var(--alt-color);
}

.review .review-info .title {
  font-size: 16px;
  color: var(--main-text-50);
}

/* end review */

/* dropdown */

.Dropdown-root {
  flex: 1 270px;
  font-size: 16px;
}

.Dropdown-control {
  border-radius: 6px;
  border: 1px solid;
}

.Dropdown-option {
  text-align: center;
}

.Dropdown-option:hover,
.Dropdown-option.is-selected {
  background-color: var(--alt-color);
  color: #fff;
}

.Dropdown-menu {
  max-height: 250px;
}

/* start table  */

/* table {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
}


table tr {
  display: flex;
  width: 100%;
}

table tr td,
table tr th {
  flex: 1;
} */